* {
	margin: 0;
	padding: 0;
}

.topHeader {
	margin-top: 50px;
}

.terminalWindow {
	background-color: black; 
	min-height: 600px; 
	margin-top: 50px;
	border-radius: 12px;
	padding-left: 0 !important;
	padding-right: 0 !important;
	overflow: hidden;
}

.terminalWindow p {
	color: #66FF66;
	font-family: 'Courier New', Courier, monospace, sans-serif;
}

.terminalWindow .menubar p {
	color: black;
	font-family: sans-serif;
}